<html>
    <head>

    </head>
    <body>
        <h1>
            <a href="http://localhost:3000/doctor/signin" target="_blank" title="học lập trình online" rel="follow, index">Bác sỹ</a><br>
            <a href="http://localhost:3000/patient/" target="_blank" title="học lập trình online" rel="follow, index">Bệnh nhân</a>
        </h1>
        
    </body>
</html>
