<html>
    <head>

    </head>
    <body>
        <h1>
            <a href="http://localhost:3000/doctor/signin" target="_blank" title="học lập trình online" rel="follow, index">Bác sỹ</a><br>
            <a href="http://localhost:3000/patient/" target="_blank" title="học lập trình online" rel="follow, index">Bệnh nhân</a>
        </h1>
        <!--
             <form method="POST" action="/doctor/input">
            <div>
                <p><em>THÔNG TIN BỆNH NHÂN</em></p>
                <div class="row">
                    <div>
                        <p>Họ tên người bệnh:</p>
                        <input type="text" name="patient_name">
                    </div>
                    <div>
                        <p>Ngày tháng năm sinh:</p>
                        <input type="text">
                    </div>
                </div>
                <div>
                    <input class="btn" type='submit'>XÓA TRƯỜNG ĐÃ NHẬP</button>
                    <input class="btn" type="submit">THÊM BỆNH NHÂN</button>
                </div>
            </div>
        </form>
        -->
    </body>
</html>
