<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>DEMO</title>
  <!--css-->
  <link href="/static/css/style.min.css" rel="stylesheet" media="all">
  <!-- Favicons -->
  <link rel="icon" href="/static/img/favicon.png" type="image/vnd.microsoft.icon">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://www.chartjs.org/dist/2.8.0/Chart.min.js"></script>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script>
    var line_chart;
    var chart_config;

    function chartjs() {
      chart_config = {
        type: 'line',
        data: {
          labels: [],
          datasets: [{
            label: "Huyết áp",
            data: [],
            backgroundColor: ['rgba(221, 199, 167, .4)'],
            borderColor: ['rgba(221, 199, 167, 0.9)'],
            yAxisID: 'y-axis-1',
          }, {
            label: "Nhịp tim",
            data: [],
            backgroundColor: ['rgba(154, 196, 159, .8)'],
            borderColor: ['rgba(154, 196, 159, .9)'],
            yAxisID: 'y-axis-2',
          }]
        },
        options: {
          responsive: true,
          legend: {
            display: false
          },
          tooltips: {
            mode: 'index',
            intersect: false,
          },
          hover: {
            mode: 'nearest',
            intersect: true
          },
          scales: {
            yAxes: [{
              type: 'linear',
              display: true,
              position: 'left',
              id: 'y-axis-1',
            }, {
              type: 'linear',
              display: true,
              position: 'right',
              id: 'y-axis-2',

              gridLines: {
                drawOnChartArea: false,
              },
            }],
          }
        }
      }

      let context = document.getElementById("line_chart").getContext('2d');
      line_chart = new Chart(context, chart_config);
    }

    function updateInfo() {
      $("#my_form").submit(function (event) {
        event.preventDefault(); //prevent default action 
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method");
        var form_data = $(this).serializeArray();
        $.ajax({
          url: post_url,
          type: request_method,
          data: form_data
        }).done((json_data) => {
          if (!json_data.data.error) {
            var timestamps = [],
              blood_pressures = [],
              heart_rates = [];
            json_data.data.chart_data.forEach((element) => {
              timestamps.push(element.time);
              blood_pressures.push(element.sys);
              heart_rates.push(element.heart_rate);
            });

            chart_config.data.labels = timestamps;
            chart_config.data.datasets[0].data = blood_pressures;
            chart_config.data.datasets[1].data = heart_rates;
            line_chart.update();

            $("#patient_name").val(json_data.data.info.name);
            $("#guess").val(json_data.data.info.doctor_guess);
            $("#treat_method").val(json_data.data.info.treat_method);
          } else {
            alert(json_data.data.error);
          }
        });
      });
    }

    $(document).ready(function () {
      chartjs();
      updateInfo();
      $("#btn-login").click(() => {
        window.location.replace("/Doctor/signin");
      });
    });
  </script>
</head>

<body id="top" class='top'>
  <main id="wrap" class="wrap">
    <div class="sidebar">
      <a href="" class="item item--01 active">
        <p>DASHBOARD</p>
      </a>
      <a href="/patient/search" class="item item--03">
        <p>TRA CỨU THÔNG TIN<br>BỆNH NHÂN</p>
      </a>
      <div class="item"></div>
      <div class="item"></div>
    </div>
    <div class="main">
      <div class="nav">
        <div class="nav__name">
          <div class="img">
            <img src="/static/img/user.png" alt="dd">
          </div>
          <p class="name"><%= data.name %></p>
          <button class="btn" id="btn-login">LOGIN</button>
        </div>
      </div>
      <div class="form form2">
        <form method="POST" action="/patient/search" id="my_form">
          <div class="form2__top">
            <div class="row">
              <div class=" col col1">
                <p class="row__ttl">Mã bệnh nhân:</p>
                <input type="text" name="patient_id">
              </div>
              <div class="col col2">

                <p class="row__ttl pad"><%= data.error %></p>

                <p class="row__ttl pad">Họ tên bệnh nhân:</p>
                <input type="text" name='patient_name'>
              </div>
              <input class="btn" type="submit" value='TÌM KIẾM' style="color: black;" id="search" />
            </div>
          </div>
        </form>

        <div class="form2__chart">
          <div style="width:90%;">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
              </div>
            </div>
            <canvas id="line_chart" style="display: block; width: 800px; height: 300px;" width="800" height="300"
              class="chartjs-render-monitor"></canvas>
          </div>
        </div>
        <!-- THÔNG TIN BÁC SĨ -->
        <div class="form2__bot">
          <p class="form__ttl mar"><em>THÔNG TIN BỆNH NHÂN</em></p>
          <div class="row">
            <div class=" col col9">
              <p class="row__ttl">Họ tên người bệnh:</p>
              <input type="text" class="area" id="patient_name" disabled>
            </div>
            <div class=" col col10">
              <p class="row__ttl pad">Tuổi</p>
              <input type="text" id="patient_age" disabled>
            </div>
          </div>
          <div class="row">
            <div class=" col col8">
              <p class="row__ttl">Chẩn đoán:</p>
              <input type="text" class="area" id="guess" disabled>
            </div>
          </div>
          <div class="row">
            <div class=" col col8">
              <p class="row__ttl">Phương pháp điều trị:</p>
              <input type="text" class="area" id="treat_method" disabled>
            </div>
          </div>
          <div class="row">
            <div class=" col col8">
              <p class="row__ttl">Lời dặn của bác sĩ:</p>
              <input type="text" class="area" id="doctor_advice" disabled>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>